[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "==2.6.0"
flask-script = "*"
psycopg2 = "*"
celery = "*"
redis = "*"
flask-login = "*"
flask-restful = "*"
bcrypt = "*"
pytest = "*"
pytest-cov = "*"
flask-uploads = "*"
itsdangerous = "*"
flask-mail = "*"
pyjwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
