{% extends "base.html" %}
{% block title %}
  Login
{% endblock %}
{% block head %}
  {{ super() }}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('.static',filename='css/style.css') }}">
{% endblock %}
{% block content %}
<section class="vh-100" style="background-color: #8aa6d9;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form action={{ url_for('auth_bp.confirmemail') }} method="post" >
              <h3 class="mb-5">New Password</h3>
              <input type="hidden" value={{ user.userid }} name="username" >
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Password</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" name="confirmpassword" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX-2">Confirm Password</label>
              </div>
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Change</button>
  
              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}